// Styling for the ctos section
.cto-heading {
  margin: 15px 0;
  text-transform: none;
}

#cto {
  .cto-item {
    @extend %modal-item;

    .cto-link {
      @extend %modal-link;

      .cto-hover {
        @extend %modal-hover;

        .cto-hover-content {
          @extend %modal-hover-content;
        }
      }
    }

    .cto-caption {
      @extend %modal-caption;
    }
  }
}

@media(min-width: 767px) {
  #cto {
    .cto-item {
      margin: 0 0 30px;
    }
  }
}

.cto-modal {
  @extend %modal-modal;
}
