// Styling for the footer
footer {
  padding: 25px 0;
  text-align: center;

  span.copyright {
    @include heading-font;
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
  }

  ul.quicklinks {
    @include heading-font;
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
  }
}

ul.social-buttons {
  margin-bottom: 0;

  li {
    a {
      font-size: 20px;
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      color: $white;
      border-radius: 100%;
      outline: none;
      background-color: $gray-900;

      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
    }
  }
}
